body {
    margin: 0;
    padding: 0;
    background: #e7f0ff;
    font-family: Arial, sans-serif;
}

.app {
    max-width: 380px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #b6c6ff;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 14px;
    background: #4f7cff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background: #3b5ed1;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#parcelas {
    margin-top: 10px;
    font-size: 18px;
}

.green { color: green; }
.red { color: red; }
.orange { color: rgb(255, 145, 0); }
.blue { color: blue; }